 .icon{
   width: 24px;
 }
 .icon {
    width: 24px;
cursor: pointer;
 }

 .icon *{
    stroke: #1F1F1F;
 }

 .modal{
    max-height: 696px;
  position: relative;
  background-color: #fff;
 }

 .modalTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Comfortaa;
font-size: 20px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
 

     
 }

 .button img{
   width: 60px;
   height: 60px;
   justify-self: center;
   align-self: center;
 }

 .form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 24px 10px 0;
    margin-right: -24px;
    width: 632px;
    max-height: 596px;
    overflow-y: scroll;
     
    
 }



 .input{
    width: 100%;
   
    max-height: 44px;
   border-bottom: 1px solid #999999;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
padding: 12px 0px 8px 0px;

 }
 

 .formItem{
    display: flex;
    gap: 16px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  
 }

 .formSubItem{
   flex: 0 0 50%;
 }
 
 
.services{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
 .formItemContacts span{
    align-self: flex-start;
    font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
max-width: 132px;
 }

 .form textarea{
    width: 100%;
    max-width: 426px;
    max-height: 76px;
   border: none;
   border-bottom: 1px solid #999999;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
padding: 12px 0 8px 0;
resize: none;
 }

  .button{
    width: 100%;
   margin: 12px 0px 12px 0px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;

 }
* {
  scrollbar-width: thin;
  scrollbar-color: #D6D6D6 #FFFFFF;
}

.form  input.error    {
    border-bottom: 1px solid red;
    width: 100%;
   
    max-height: 44px;
 
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
padding: 12px 0px 8px 0px;
   
    }

   

    .selector{
        width: 100%;
        width: 100%;
        max-width: 426px;
        max-height: 44px;
       border-bottom: 1px solid #999999;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
     
    }
    
  .error{
      width: 100%;
      width: 100%;
      max-width: 426px;
      max-height: 44px;
     border-bottom: 1px solid red;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
    }
  .errorSpan{
 color: red;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
    }

    .formItemContainer{
      display: flex;
      align-items: center;
      gap: 16px;
      width: 100%;
      min-width: 544px;
    }

    .addInput{
display: flex;
align-items: center;
cursor: pointer;
font-size: 16px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

    }

    .button:disabled {
      background-color: #474747;
      pointer-events: none;
    }

   