.footer {
    grid-area: footer;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    z-index: 2;
    position: relative;
}