 .wrapper {
   display: flex;
   width: 100%;
   height: 100%;
   overflow: hidden;
 
 }

 /* body {
   overflow: hidden;
 } */

 .picture {
   object-fit: contain;
    width: 50%;
    height: 100vh;
 
 }
.picture img{
  height: 100%;
}
  

 .loginBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 280px 80px;
  overflow: hidden;
  width: 50%;
  

 }


 .form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 351px;


 }


 .form input {
   width: 100%;
   max-width: 426px;
   max-height: 44px;
   border-bottom: 1px solid #999999;
   font-size: 16px;
   font-weight: 500;
   line-height: 20px;
   letter-spacing: 0em;
   text-align: left;
   padding: 12px 0px 8px 0px;

 }

 .form input:hover {
   border-bottom: 1px solid #1F1F1F;
background-color: #fff;
 }

 .formItem {
   display: flex;
   gap: 24px;
   width: 100%;
   align-items: center;
   justify-content: space-between;
 }

 .formItem span {

   font-size: 16px;
   font-weight: 700;
   line-height: 20px;
   letter-spacing: 0em;
   text-align: left;
   max-width: 132px;

 }

 .formItemContacts {
   display: flex;
   gap: 24px;
   width: 100%;
   align-items: center;
   justify-content: space-between;
 }

 .button {
   width: 100%;
   margin: 12px 0px 12px 0px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   font-size: 16px;
   font-weight: 600;
   line-height: 20px;
   letter-spacing: 0em;
   text-align: left;
 }


 .link {
   text-decoration: underline;
   font-size: 16px;
   font-weight: 600;
   line-height: 20px;
   letter-spacing: 0em;
   text-align: left;
   color: #1F1F1F;
 }

 .form input.error,
 .form textarea.error {
   border-bottom: 1px solid red;

 }

.form textarea.error {
   max-height: 76px;
 }

.error {
   width: 100%;
   width: 100%;
   max-width: 426px;
   max-height: 44px;
   border-bottom: 1px solid red;
   font-size: 16px;
   font-weight: 500;
   line-height: 20px;
   letter-spacing: 0em;
   text-align: left;
 }

 .errorSpan {
   color: red;
   font-size: 16px;
   font-weight: 500;
   line-height: 20px;
   letter-spacing: 0em;
   text-align: left;
 }

 .title{
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: center;

 }

 .button img{
  width: 60px;
  height: 60px;
  justify-self: center;
  align-self: center;
}

.button:disabled {
  background-color: #474747;
  pointer-events: none;
}
.form input.error:focus{
  background-color: #fff;
}
.form input.error:hover{
  background-color: #fff;
}


.form input:focus{
  background-color: #fff;
}
.form input.error:focus{
  background-color: #fff;
}
